/*------------------------------------------------------*\
  Vertical align
\*------------------------------------------------------*/

%verticalAlign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%horizontalAlign {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

%centerAlign {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}
