/*------------------------------------------------------*\
   Mixins
\*------------------------------------------------------*/

// Breakpoints

@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value != null {
    @media (min-width: rem-calc($value)) {
      @content;
    }
  }
  @else {
    @warn "No breakpoint named `#{$breakpoint}`. ";
  }
}

// Font size iteration

@each $size, $headers in $header-sizes {
  @include breakpoint($size) {
    @each $header, $font-size in $headers {
      #{$header} { font-size: rem-calc($font-size); }
    }
  }
}

// To set button color, background and hover
@mixin buttonColor($bg-color, $color:null) {
  background: $bg-color;
  color: $color;
  &:hover {
    background: darken($bg-color, 10%);
  }
}
