
/*------------------------------------------------------*\
   Styleguide
\*------------------------------------------------------*/

  .sg-color {
    text-align: center;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    float: left;
    &__swatch {
      border: 1px solid #e2e2e2;
      width: 100px;
      height: 100px;
      background: #eee;
      margin-bottom: 10px;
      border-radius: 100px;
      float: left;
      margin-right: 30px;
      &.color-primary {
        background: $color-primary;
      }
      &.color-secondary {
        background: $color-secondary;
      }
      &.color-third {
        background: $color-third;
      }
      &.color-black {
        background: $color-black;
      }
      &.color-white {
        background: $color-white;
      }
      &.color-lightGray {
        background: $color-lightGray;
      }
      &.color-gray {
        background: $color-gray;
      }
      &.color-darkGray {
        background: $color-darkGray;
      }
    }
  }

  .sg-typo {
    font-size: 1.8rem;
    margin-bottom: 20px;
    &.gotham-light {
      font-family: $font-sans--light;
    }
    &.gotham-book {
      font-family: $font-sans--regular;
    }
    &.gotham-medium {
      font-family: $font-sans--medium;
    }
    &.gotham-bold {
      font-family: $font-sans--bold;
    }
  }
