// ------------------------------------
// Colors
// ------------------------------------

$colors: (
  primary: #a8cd25,
  secondary: #0059b3,
  third: #cc00cc,
  black: #000,
  white: #fff,
  gray: (
    base: gray,
    light: WhiteSmoke,
    dark: DarkSlateGray
  )
);

// ------------------------------------
// Spacing
// ------------------------------------

$spacings: (
  small: .5rem,
  medium: 1rem,
  large: 2rem
);

// ------------------------------------
// Breakpoints
// ------------------------------------

$breakpoints: (
  small: 480,
  medium: 720,
  large: 960,
  wide: 1200
);

// ------------------------------------
// Typography
// ------------------------------------

// TODO: Make a functions to handle fonts
$fonts: (
  sans: (
    light: "'Gotham Light', 'Helvetica', sans-serif",
    regular: "'Gotham Book', 'Helvetica', sans-serif",
    medium: "'Gotham Medium', 'Helvetica', sans-serif",
    bold:  "'Gotham Bold', 'Helvetica', sans-serif"
  ),
  serif: (
    regular: "'Merriweather', 'Georgia', serif"
  )
);


$header-sizes: (
  base: (
    'h1': 32,
    'h2': 28,
    'h3': 24,
    'h4': 20,
    'h5': 18,
    'h6': 16,
  ),
  medium: (
    'h1': 48,
    'h2': 32,
    'h3': 28,
    'h4': 24,
    'h5': 20,
    'h6': 16,
  ),
) !default;








// ------------------------------------
// Grid Settings
// ------------------------------------

$grid: (
  columns: 12,
  gutters: 2%,

  classes: (
    base: (1 2 3 4 5 6 7 8 9 10 11 12),
    small: (1 2 3 4 5 6 7 8 9 10 11 12),
    medium: (1 2 3 4 5 6 7 8 9 10 11 12),
    large: (1 2 3 4 5 6 7 8 9 10 11 12),
  )
) !default;
