// ------------------------------------
// Colors
// ------------------------------------

$colors: (
  primary: #a8cd25,
  secondary: #1D0C9A,
  third: #8A5BD3,
  black: #000,
  white: #fff,
  gray: (
    base: gray,
    light: lightGray,
    dark: DarkSlateGray
  )
);

// ------------------------------------
// Spacing
// ------------------------------------

$spacings: (
  small: .5rem,
  medium: 1rem,
  large: 2rem
);

// ------------------------------------
// Breakpoints
// ------------------------------------

$breakpoints: (
  small: 480,
  medium: 720,
  large: 960,
  wide: 1200,
);

// ------------------------------------
// Typography
// ------------------------------------

$fonts: (
  sans: ('Work Sans','Helvetica', sans-serif),
  serif: ('Merriweather', 'Georgia', serif),
  // If extra level needed
  sans-weight: (
    light: ('Open Sans Light','Helvetica', sans-serif),
    regular: ('Open Sans Regular','Helvetica', sans-serif),
    medium: ('Open Sans Medium','Helvetica', sans-serif),
    bold:  ('Open Sans Bold','Helvetica', sans-serif)
  ),
);

$header-sizes: (
  base: (
    'h1': 32,
    'h2': 28,
    'h3': 24,
    'h4': 20,
    'h5': 18,
    'h6': 16,
  ),
  medium: (
    'h1': 48,
    'h2': 32,
    'h3': 28,
    'h4': 24,
    'h5': 20,
    'h6': 16,
  ),
) !default;
