/*------------------------------------------------------*\
  Styleguide
\*------------------------------------------------------*/

@import 'variables';

.sg-color {
  text-align: center;
  margin-right: 40px;
  margin-bottom: 20px;
  width: 100%;
  display: block;
  float: left;

  &__swatch {
    border: 1px solid #e2e2e2;
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 100px;
    float: left;
    margin-right: 30px;

    &.color-primary   { background-color: color(primary); }
    &.color-secondary { background-color: color(secondary); }
    &.color-third     { background-color: color(third); }
    &.color-black     { background-color: color(black); }
    &.color-white     { background-color: color(white); }
    &.color-lightGray { background-color: color(gray, light); }
    &.color-gray      { background-color: color(gray, base); }
    &.color-darkGray  { background-color: color(gray, dark); }
  }
}

// Animations

.animation {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  background: color(gray, base);
  display: inline-block;
  &__preview {
    display: inline-block;
    background: color(primary);
    width: 5rem;
    height: 5rem;
    margin-right: 3rem;
  }
  &--scaleUp:hover {
    > .animation__preview {
      @extend %scaleUp;
    }
  }
  &--slideFromLeft:hover {
    > .animation__preview {
      @extend %slideFromLeft;
    }
  }
  &--slideFromRight:hover {
    > .animation__preview {
      @extend %slideFromRight;
    }
  }
  &--rotate:hover {
    > .animation__preview {
      @extend %rotate;
    }
  }
  &--shake:hover {
    > .animation__preview {
      @extend %shake;
    }
  }
}

// Rest code first-child style

code.sg:first-child {
  background: rgba(250, 250, 250, 0.5);
  color: #579;
}
