/*
Button

Styling for buttons.

Markup:
<button class="button {{modifier_class}}">Button</button>

.button--primary - Primary button
.button--secondary - Secondary button
.button--third - Third button
.button--small - Small button

Styleguide 3.1
*/

.button {
    @include button-color(color(gray), color(white));
    display: inline-block;
    background: color(gray);
    cursor: pointer;
    padding: spacing(medium) spacing(large);
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    color: color(black);
    font-family: font(sans);
    font-size: rem-calc(16);
    appearance: none;

    // Small button

    &__child {
        background: #000;
    }

    &--small {
        padding: spacing(small) spacing(medium);
        font-size: rem-calc(14);
      }

    // Primary
    &--primary {
        @include button-color(color(primary), color(black));
    }

    // Secondary
    &--secondary {
        @include button-color(color(secondary), color(white));
    }

    // Third
    &--third {
        @include button-color(color(third), color(white));
    }

    // Removes the focus ring around an element when a mouse input is detected.
    [data-whatinput='mouse'] & {
        outline: 0;
    }
}
