
.button {
    color: $color-white;
    background-color: $color-gray;
    display: inline-block;
    background: color(gray);
    cursor: pointer;
    padding: 2rem;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    color: $color-primary;
    font-family: $font-sans;
    font-size: rem-calc(16);
    appearance: none;

    &--small {
        padding: spacing(small) spacing(medium);
        font-size: rem-calc(14);
      }

    &--primary {
        background-color: $color-primary;
    }

    &--secondary {
        background-color: $color-secondary;
    }

    // Removes the focus ring around an element when a mouse input is detected.
    [data-whatinput='mouse'] & {
        outline: 0;
    }
}
