/*
Select

Custom styling of the select box trigger.

Markup:
<label>
  Label
  <div class="select">
    <select>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
  </div>
</label>
<label>
  Disabled
  <div class="select select--disabled">
    <select disabled>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
  </div>
</label>

Styleguide 3.7
*/

.select {
    display: block;
    position: relative;
    max-width: 15em;

    select {
        display: block;
        width: 100%;
        padding: 0.5em;
        padding-right: 2.5em;
        background-color: color(white);
        color: color(black);
        border: 1px solid color(gray);
        border-radius: 0;
        appearance: none;

        // Hide the arrow in IE10 and up
        &::expand {
            display: none;
        }

        // Undo the Firefox inner focus ring
        &:focus {
            &-focusring {
                color: transparent;
                text-shadow: 0 0 0 #000;
            }
        }

        &:disabled {
            color: color-variation(gray, lighten, 3);
            border-color: color-variation(gray, lighten, 2);
        }
    }

    // Dropdown arrow
    &:after {
        content: '';
        display: block;
        pointer-events: none;
        position: absolute;
        top: calc(50% - 0.75em);
        right: 1em;
        width: 1em;
        height: 1em;
        background-color: color(white);
        border-left: 2px solid color(black);
        border-bottom: 2px solid color(black);
        transform: rotate(-45deg);
    }

    &--disabled {
        &:after {
            border-left-color: lighten(color(gray), 50%);
            border-bottom-color: lighten(color(gray), 50%);
        }
    }
}
