/*
Tabs

https://www.npmjs.com/package/tabs

Markup:
<div class="tab-container">
    <div class="tabs">
        <a class="tab active">Home</a>
        <a class="tab">Profile</a>
        <a class="tab">Messages</a>
    </div>
    <div class="tab-panes">
        <div class="tab-pane active">home</div>
        <div class="tab-pane">profile</div>
        <div class="tab-pane" >message</div>
    </div>
</div>

Styleguide 3.3
*/

// Need to be BEMified

.tab-container{
  width:60%;
  margin: 20px 0;
}

.tabs{
  height: 30px;
  line-height: 30px;
}

.tabs .tab {
  display:inline-block;
  cursor:pointer;
  width:100px;
  text-align:center;
}

.tabs .active {
  background-color: #efefef
}

.tab-panes .tab-pane{
  border:1px solid #333333;
  width:400px;
  padding:20px;
  display: none
}
.tab-panes .active{
  display: block
}
