
@font-face {
    font-family: 'avant-garde';
    src: url('fonts/avant-garde.woff') format('woff'),
         url('fonts/avant-garde.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.kss-style {
    color: #444;
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.kss-style a {
    color: #525252;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
    border-bottom: 2px solid #eee;
}
.kss-style p {
    font-size: 1rem;
    margin-top: 0;
}
.kss-style a:visited {
    color: #525252
    border-bottom: 2px solid #eee;
}
.kss-style a:hover,
.kss-style a:focus {
    color: #525252;
    border-bottom: 2px solid #999;
}
.kss-style a:active {
    color: #404040;
}
.kss-style a:hover,
.kss-style a:active {
    outline: 0
}
.kss-style h1,
.kss-style h2,
.kss-style h3,
.kss-style h4,
.kss-style h5,
.kss-style h6 {
    margin: 5px 0 0 0;
    font-family: 'avant-garde', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    color: #111;
    line-height: 1.15em;
    font-smoothing: antialiased;
}
.kss-style h4,
.kss-style h5,
.kss-style h6 {
    font-weight: bold
}
.kss-style h1 {
    font-size: 4.5rem;
    margin-top: 0;
}
#kssref-0 {
    margin-top: 0;
    margin-bottom: 0 !important;
}
.kss-overview  h1 {
    margin: 22px 0 1rem 0;
}
.kss-style h2 {
    font-size: 2.4rem;
}
.kss-style h3 {
    font-size: 1.4rem;
}
.kss-style h4 {
    font-size: 1.2rem;
}
.kss-style h5 {
    font-size: 1.2rem;
}
.kss-style h6 {
    font-size: 1.2rem;
}
.kss-style blockquote {
    color: #666;
    margin: 0;
    padding-left: 24px;
    border-left: .5em #d9d9d9 solid
}
.kss-style hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #e6e6e6;
    margin: 24px 0;
    padding: 0
}
.kss-style pre,
.kss-style code,
.kss-style kbd,
.kss-style samp {
    font-family: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;
    color: #2b2b2b;
    font-size: 1rem;
    font-weight: 600;
}
.kss-style pre {
    white-space: pre;
    overflow: hidden;
}
.kss-style ins {
    color: #111;
    background: #ff9;
    text-decoration: none
}
.kss-style mark {
    color: #111;
    background: #ff0;
    font-weight: bold
}
.kss-style sub,
.kss-style sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
.kss-style sup {
    top: -0.5em
}
.kss-style sub {
    bottom: -0.25em
}
.kss-style ul,
.kss-style ol {
    margin: 24px 0;
    padding: 0 0 0 24px
}
.kss-style li p:last-child {
    margin: 0
}
.kss-style dd {
    margin: 0 0 0 24px
}
.kss-style img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}
.kss-style table {
    border-collapse: collapse;
    border-spacing: 0
}
.kss-style td {
    vertical-align: top
}
@media print {
    .kss-style a,
    .kss-style a:visited {
        text-decoration: underline
    }
    .kss-style hr {
        height: 1px;
        border: 0;
        border-bottom: 1px solid black
    }
    .kss-style a[href]:after {
        content: " (" attr(href) ")"
    }
    .kss-style a[href^="javascript:"]:after,
    .kss-style a[href^="#"]:after {
        content: ""
    }
    .kss-style abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .kss-style pre,
    .kss-style blockquote {
        border: 1px solid #999;
        padding-right: 1em;
        page-break-inside: avoid
    }
    .kss-style tr,
    .kss-style img {
        page-break-inside: avoid
    }
    .kss-style img {
        max-width: 100% !important
    }
    .kss-style p,
    .kss-style h2,
    .kss-style h3 {
        orphans: 3;
        widows: 3
    }
    .kss-style h2,
    .kss-style h3 {
        page-break-after: avoid
    }
}
#kss-node {
    margin: 0;
    padding: 20px;
    background: #fff
}
@media screen and (min-width: 769px) {
    #kss-node {
        padding: 0;
        background: #fff
    }
    #kss-node .kss-main,
    #kss-node .kss-sidebar {
        float: left;
        margin-right: -100%;
        box-sizing: border-box
    }
}
#kss-node .kss-main {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}
@media screen and (min-width: 769px) {
    #kss-node .kss-main {
        width: 80%;
        margin-left: 20%;
    }
}
#kss-node .kss-sidebar {
    border-bottom: 1px solid #ddd;
}
#kss-node .kss-sidebar a {
    border-bottom: 0;
}
@media screen and (min-width: 769px) {
    #kss-node .kss-sidebar {
        position: fixed;
        width: 20%;
        height: 100%;
        overflow: auto;
        padding: 0 10px 0 20px;
        border-bottom: 0;
    }
}
#kss-node .kss-doc-title {
    margin: 0
}
@media screen and (min-width: 769px) {
    #kss-node .kss-doc-title {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 769px) {
    #kss-node .kss-header,
    #kss-node .kss-nav {
        margin-top: 2em
    }
}
#kss-node .kss-nav__menu {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    list-style-type: none;
    font-family: 'avant-garde';
}
#kss-node .kss-nav__menu-item {
    display: inline-block;
    padding-right: 24px
}
@media screen and (min-width: 769px) {
    #kss-node .kss-nav__menu-item {
        display: list-item;
        padding-right: 0;
        font-size: 1.4rem;
    }
}
#kss-node .kss-nav__menu-child {
    display: none;
}
@media screen and (min-width: 769px) {
    #kss-node .kss-nav__menu-child {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #kss-node .kss-nav__menu-child .kss-nav__menu-item {
        font-size: 1rem;
    }
    #kss-node .kss-nav__menu-child li:first-child {
        margin-top: 10px;
        border-top: 5px solid #eee;
        padding: 10px 0 0
    }
    #kss-node .kss-nav__menu-child li:last-child {
        margin-bottom: 10px;
        border-bottom: 5px solid #eee;
        padding: 0 0 10px
    }
}
#kss-node .kss-nav__ref {
    color: #333;
    font-weight: bold
}
#kss-node .kss-nav__ref:after {
    content: ' '
}
#kss-node .kss-nav__ref-child {
    font-weight: normal
}
#kss-node .kss-section {
    margin-bottom: 10px
}
#kss-node .kss-title {
    margin-bottom: 0
}
#kss-node .kss-title__ref {
    display: block;
    font-size: 1.5rem;
    line-height: 16px;
    color: #666;
    margin-bottom: 6px;
}
#kss-node .kss-title__ref:before {
    content: 'Section '
}
#kss-node .kss-title__permalink {
    display: block;
    color: #000;
    text-decoration: none;
    border-bottom: 0;
    padding: 38px 0 1rem 0;
}
#kss-node .kss-title__permalink:hover,
#kss-node .kss-title__permalink:focus,
#kss-node .kss-title__permalink:active {
    color: #444;
}
@media screen and (min-width: 607px) {
    #kss-node .kss-title__permalink:hover .kss-title__permalink-hash,
    #kss-node .kss-title__permalink:focus .kss-title__permalink-hash,
    #kss-node .kss-title__permalink:active .kss-title__permalink-hash {
        display: inline
    }
}
#kss-node .kss-title__permalink-hash {
    display: none;
    color: #ccc
}
#kss-node .kss-parameters {
    display: table;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0
}
#kss-node .kss-parameters__item {
    display: table-row
}
#kss-node .kss-parameters__name {
    display: table-cell;
    padding-right: 20px
}
#kss-node .kss-parameters__description {
    display: table-cell
}

#kss-node .kss-modifier__heading {
    margin: -10px -10px 10px -10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    font-weight: bold
}
#kss-node .kss-modifier__default-name {
    font-weight: bold;
    margin-bottom: 12px
}
#kss-node .kss-modifier__name {
    float: left;
    padding-right: 10px;
    font-weight: bold
}
#kss-node .kss-modifier__description {
    margin-bottom: 12px
}
#kss-node .kss-modifier__example {
    clear: left;
    padding: 1px 0;
    position: relative;
    margin: 0 0 23px 0
}
#kss-node .kss-modifier__example:last-child {
    margin: 0
}
#kss-node .kss-markup {
    margin: -6px 0 24px 0;
    border: 5px solid #eee;
    display: none;
}
#kss-node .kss-markup pre {
    margin: 0
}
#kss-node .kss-github {
    display: none
}
@media screen and (min-width: 501px) {
    #kss-node .kss-github {
        display: block;
        position: absolute;
        top: 0;
        right: 0
    }
}
#kss-node .kss-github img {
    border: 0
}
#kss-node .pln {
    color: #000
}
#kss-node .str {
    color: #080
}
#kss-node .kwd {
    color: #3f3fd1
}
#kss-node .com {
    color: #800
}
#kss-node .typ {
    color: #606
}
#kss-node .lit {
    color: #066
}
#kss-node .pun,
#kss-node .opn,
#kss-node .clo {
    color: #660
}
#kss-node .tag {
    color: #166877
}
#kss-node .atn {
    color: rgb(59, 164, 60)
}
#kss-node .atv {
    color: #961a91
}
#kss-node .dec,
#kss-node .var {
    color: #606
}
#kss-node .fun {
    color: red
}
@media print,
projection {
    #kss-node .str {
        color: #060
    }
    #kss-node .kwd {
        color: #006;
        font-weight: bold
    }
    #kss-node .com {
        color: #600;
        font-style: italic
    }
    #kss-node .typ {
        color: #404;
        font-weight: bold
    }
    #kss-node .lit {
        color: #044
    }
    #kss-node .pun,
    #kss-node .opn,
    #kss-node .clo {
        color: #440
    }
    #kss-node .tag {
        color: #006;
        font-weight: bold
    }
    #kss-node .atn {
        color: #404
    }
    #kss-node .atv {
        color: #060
    }
}
#kss-node ol.linenums {
    margin: 0;
    padding: 0 0 3px 0;
    list-style-type: none
}
#kss-node ol.linenums li {
    min-height: 24px;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    background: #fff
}
#kss-node ol.linenums li:first-child {
    padding-top: 3px
}
#kss-node ol.linenums li.L0,
#kss-node ol.linenums li.L2,
#kss-node ol.linenums li.L4,
#kss-node ol.linenums li.L6,
#kss-node ol.linenums li.L8 {
    background: #fcfcfc
}

.kss-description {
    padding-bottom: 1rem;
}

.kss-button-html {
    border: 6px solid #eee;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
    margin-top: 2rem;
    color: #444;
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
