// ------------------------------------
// Breakpoints
// ------------------------------------

// Fallback if nothing is set in variables
$breakpoints: (
  small: 480,
  medium: 720,
  large: 960,
) !default;

@mixin breakpoint($label, $max:null) {
  @if map-has-key($breakpoints, $label) {
    $width: map-get($breakpoints, $label);
    @if $max != null {
      @media (max-width: rem-calc($width)) {
        @content;
      }
    }
    @else {
      @media (min-width: rem-calc($width)) {
        @content;
      }
    }
  }
  @elseif type-of($label) == 'number' {
    @if $max != null {
      @media screen and (max-width: rem-calc($label)) {
        @content;
      }
    }
    @else {
      @media screen and (min-width: rem-calc($label)) {
        @content;
      }
    }
  }
  @else {
    @warn "`#{$label} is not a valid key in `#{$breakpoints}`. ";
  }
}
@mixin bp($label, $max:null) {
  @if mixin-exists(breakpoint) {
    @include breakpoint($label, $max) {
      @content;
    }
  }
  @else {
    @warn "`#{$label}` is not a valid key in `$breakpoints`.";
  }
}







// ------------------------------------
// Header Sizes
// ------------------------------------

@mixin header-sizes {
  @each $size, $headers in $header-sizes {
    @if $size == 'base' {
      @each $header, $font-size in $headers {
        #{$header}, .#{$header} { font-size: rem-calc($font-size); }
      }
    }
    @else {
      @include breakpoint($size) {
        @each $header, $font-size in $headers {
          #{$header}, .#{$header} { font-size: rem-calc($font-size); }
        }
      }
    }
  }
}


// ------------------------------------
// Button Stuff
// ------------------------------------

// To set button color, background and hover
@mixin buttonColor($bg-color, $color:null) {
  background: $bg-color;
  color: $color;
  &:hover {
    background: darken($bg-color, 10%);
  }
}
