<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>

    {{#if development}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{else}}
    <link rel="stylesheet" type="text/css" href="/main.css">
    {{/if}}
</head>
<body>
    {{#block "nav"}}
    {{> nav}}
    {{/block}}

    {{#block "main"}}
    {{{contents}}}
    {{/block}}

    {{#block "footer"}}
    {{> footer}}
    {{/block}}

    {{#if development}}
    <script src="/dist/main.js"></script>
    {{else}}
    <script src="/main.js"></script>
    {{/if}}
</body>
</html>
