html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  min-height: 100%;

  // Prevent top margin on children from bleeding outside top of body, creating annoying vertical scroll
  padding-top: 1px;
}
