.icon {
  width: 4rem;
  height: 4rem;
  padding: .5rem;
  margin: 0 1rem 1rem 0;
  fill: color(secondary);
  &.evil, &.tongue, &.smile, &.happy {
    fill: color(third);
  }
  &.html-five {
    fill: color(primary);
  }
}
