.button {
  // Small button
  &--small {
    padding: spacing(small) spacing(medium);
    font-size: rem-calc(14);
  }
  // Primary
  &--primary {
    @include buttonColor(color(primary));
  }
  // Secondary
  &--secondary {
    @include buttonColor(color(secondary), color(white));
  }
  // Third
  &--third {
    @include buttonColor(color(third), color(white));
  }
  // Button base styling (from Foundation)
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  margin: spacing(small);
  padding: spacing(medium) spacing(large);
  background: color(gray, light);
  font-family: font(sans);
  font-size: rem-calc(16);
  color: color(black);
  // Removes the focus ring around an element when a mouse input is detected.
  [data-whatinput='mouse'] & {
    outline: 0;
  }
}
