
// Labels
label {
  display: block;
  margin-bottom: $spacing;
}

// Inputs and textareas
input,
textarea {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid $color-gray;
  &:focus {

  }
  &:disabled {
    border: 1px solid $color-lightGray;
  }
}

// Checkboxes and radiobuttons
// TODO Could a lower specificity than [type] be used? Classes will not overwrite this.
label input[type="checkbox"]:first-child,
label input[type="radio"]:first-child {
  display: inline-block;
  margin-right: 0.5em;
}

// Buttons
button {
  border: none;
  background: $color-secondary;
  color: $color-white;
  padding: 0.5em 1em;
  &:focus, &:hover {

  }
  &:active {

  }
  &:disabled {
    color: $color-gray;
    background: $color-lightGray;
  }
}

// Select fields
// See blocks/_select.scss
select {
  display: block;
}

// Fieldsets and legends
fieldset {
  border: none;
  padding: 0;
  margin-bottom: $spacing;
  legend {
    @extend .h4;
  }
}
