/*
Forms

Base styling for forms.

Markup:
<label>
    Label
    <input type="text" placeholder="Placeholder"/>
</label>
<label>
    Disabled
    <input type="text" disabled/>
</label>
<label>
    Label
    <textarea></textarea>
</label>
<label><input type="checkbox"/> Label</label>
<label><input type="checkbox" checked/> Label</label>
<label><input type="checkbox" disabled/> Disabled</label>
<label><input type="radio" name="test"/> Label</label>
<label><input type="radio" name="test" checked/> Label</label>
<label><input type="radio" name="test" disabled/> Disabled</label>
<label>
    Label
    <select>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
</label>
<label>
    Disabled
    <select disabled>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
</label>
<fieldset>
    <legend>Legend</legend>
    Fields here
</fieldset>
<button type="button">Button</button>
<button type="submit">Submit</button>

Styleguide 2.3
*/

// Labels
label {
  display: block;
  margin-bottom: spacing(medium);
}

// Inputs and textareas
input,
textarea {
  /* To get your input fields to render consistently across all browsers, you need to use both height and line-height, and avoid vertical padding. */
  line-height: 2em;
  min-height: 2em;
  padding: 0 1em;
  display: block;
  border: 1px solid color(gray);
  &:focus {

  }
  &:disabled {
    border: 1px solid lighten(color(gray), 50%);
  }
}

// Checkboxes and radiobuttons
label input[type="checkbox"]:first-child,
label input[type="radio"]:first-child {
  display: inline-block;
  margin-right:spacing(small);
}

// Buttons
button {
  border: none;
  background: color(secondary);
  color: color(white);
  padding: spacing(small) spacing(medium);
  &:focus, &:hover {
    background: darken(color(secondary), 10%);
  }
  &:active {

  }
  &:disabled {
    color: color(gray);
    background: color(gray);
  }
}

// Select fields
select {
  display: block;
}

// Fieldsets and legends
fieldset {
  border: none;
  padding: 0;
  margin: 0 0 spacing(medium) 0;
  legend {
    @extend .h4;
  }
}
