
table {
    width: 100%;
    border-collapse: collapse;
    font-family: $font-primary;
    text-align: left;
}

caption {
    font-family: Georgia, sans-serif;
    margin-bottom: 0.4rem;
    text-align: left;
}

th,
td {
    vertical-align: top;
    padding-right: 0.25em;
}
tr + tr > *,
tbody > tr > * {
    border-top: 1px solid $color-dark;
}
th + *,
td + * {
    border-left: 1px solid $color-dark;
    padding-left: 0.25em;
}
