
table {
    width: 100%;
    border-collapse: collapse;
    font-family: $font-sans;
    text-align: left;
}

caption {
    font-family: Georgia, sans-serif;
    margin-bottom: 0.4rem;
    text-align: left;
}

th,
td {
    border-top: 1px solid $color-dark;
    vertical-align: top;
    padding-right: 0.25em;
}

th + *,
td + * {
    border-left: 1px solid $color-dark;
    padding-left: 0.25em;
}
