/*
Functions

Handy functions.

Styleguide 1.2
*/

/////////////////////////

/*
rem-calc($size)

Convert px to rem.

$size - The px size

Styleguide 1.2.1
*/
@function rem-calc($size) {
    $rem-size: $size / 16;
    @return #{$rem-size}rem;
}


/*
color($color)

Color function.

$color - The color variable from variables.scss

Styleguide 1.2.2
*/
@function color($color) {
    @if map-deep-get($palette, 'colors', $color) {
        @return map-deep-get($palette, 'colors', $color);
    }
    @warn '`#{$color}` is not in color map';
    @return null;
}

/*
color-variation($color, $variation, $step)

Color function.

$color - The color variable from variables.scss
$variation - 'lighten' or 'darken'
$step - 'numeric' The interval of the variation set in from variables.scss

Styleguide 1.2.2
*/
@function color-variation($color, $variation, $step) {
    @if map-deep-get($palette, colors, $color) {
        @if $variation == lighten {
            @return mix(
                #fff,
                map-deep-get($palette, 'colors', $color),
                map-deep-get($palette, $variation, $step)
            );
            } @else if $variation == darken {
            @return mix(
                #000,
                map-deep-get($palette, 'colors', $color),
                map-deep-get($palette, $variation, $step)
            );
        }
        @warn 'Variation does not exits';
    }
    @warn 'Check if color is is in map';
    @return null;
}

/*
spacing($spacing)

Spacing.

$spacing - The spacing variable from variables.scss

Styleguide 1.2.3
*/
@function spacing($spacing) {
    @if map-has-key($spacings, $spacing) {
        @return map-get($spacings, $spacing);
    }
    @warn '`#{$spacing}` is not in spacing map';
    @return null;
}



/*
font($font, $family)

To get a font stack from variables.scss.

$front - The font variable from variables.scss
$family - The font family variable from variables.scss (optional)

Styleguide 1.2.4
*/
@function font($font, $family: null) {
    @if map-has-key($fonts, $font) {
        @if ($family != null) {
            @return map-get(map-get($fonts, $font), $family);
        } @else {
            @return map-get($fonts, $font);
        }
    }
    @warn '`#{$font}` is not in fonts map';
    @return null;
}





// ------------------------------------
// Map Deep Get (`http://www.sitepoint.com/extra-map-functions-sass/`)
// ------------------------------------

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}
