// ------------------------------------
// Helpers
// ------------------------------------


%clearfix,
.cf {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::after {
        clear: both;
    }
}


/* To calculate pixels to rem, i.e.:
    font-size: rem-calc(16);
*/

@function rem-calc($size) {
    $rem-size: $size / 16;
    @return #{$rem-size}rem;
}
