/*
Variables

Styleguide 0
*/

/*
Colors

Markup:
<div class="sg-color">
    <div class="sg-color__swatch {{modifier_class}}-lighten3">Lighten 3</div>
    <div class="sg-color__swatch {{modifier_class}}-lighten2">Lighten 2</div>
    <div class="sg-color__swatch {{modifier_class}}-lighten1">Lighten 1</div>
    <div class="sg-color__swatch {{modifier_class}}">Default</div>
    <div class="sg-color__swatch {{modifier_class}}-darken1">Darken 1</div>
    <div class="sg-color__swatch {{modifier_class}}-darken2">Darken 2</div>
    <div class="sg-color__swatch {{modifier_class}}-darken3">Darken 3</div>
</div>

.primary - Primary
.secondary - Secondary
.third - Third
.black - Black
.gray - Gray

Styleguide 0.1
*/

$palette: (
    colors: (
        primary: #a8cd25,
        secondary: #1d0c9a,
        third: #8a5bd3,
        black: #000,
        white: #fff,
        gray: #444
    ),
    darken: (
        1: 20%,
        2: 40%,
        3: 60%
    ),
    lighten: (
        1: 20%,
        2: 40%,
        3: 60%
    )
);

// ------------------------------------
// Spacing
// ------------------------------------

$spacings: (
    small: .5rem,
    medium: 1rem,
    large: 2rem
);

// ------------------------------------
// Breakpoints
// ------------------------------------

$breakpoints: (
    small: 480,
    medium: 720,
    large: 960,
    wide: 1200,
);

// ------------------------------------
// Typography
// ------------------------------------

$fonts: (
    sans: ('Work Sans', 'Helvetica', sans-serif),
    serif: ('Merriweather', 'Georgia', serif),
    // If extra level needed
    sans-weight: (
        light: ('Open Sans Light', 'Helvetica', sans-serif),
        regular: ('Open Sans Regular', 'Helvetica', sans-serif),
        medium: ('Open Sans Medium', 'Helvetica', sans-serif),
        bold:  ('Open Sans Bold', 'Helvetica', sans-serif)
    ),
);

$font-sizes: (
    base: (
        'h1': 32,
        'h2': 28,
        'h3': 24,
        'h4': 20,
        'h5': 18,
        'h6': 16,
        'p': 16
    ),
    medium: (
        'h1': (54, .9),
        'h2': 32,
        'h3': 28,
        'h4': 24,
        'h5': 20,
        'h6': 16,
        'p': (20, 1.8)
    ),
) !default;
