// ------------------------------------
// Variables
// ------------------------------------

$color-primary: #a8cd25;
$color-secondary: #1d0c9a;
$color-white: #fff;
$color-gray: #444;
$color-black: #000;

$font-sans: 'Helvetica', sans-serif;
$font-serif: 'Georgia', serif;

$breakpoints: (
    small: 480,
    medium: 720,
    large: 960,
    wide: 1200,
);
