/**
 * Starter by Netlife Research
 * ---------------------------
 * https://github.com/netliferesearch/starter
 * ------------------------------------------
 */


 // ------------------------------------
 // Variables
 // ------------------------------------

 $color-primary: #a8cd25;
 $color-secondary: #1d0c9a;
 $color-white: #fff;
 $color-gray: #444;
 $color-black: #000;

 $font-sans: 'Helvetica', sans-serif;
 $font-serif: 'Georgia', serif;

 $breakpoints: (
     small: 480,
     medium: 720,
     large: 960,
     wide: 1200,
 );










 // ------------------------------------
 // Import SCSS-files
 // ------------------------------------

// 1 Tools
@import '1_tools/helpers';
@import '1_tools/mixins';

// 2 Base
@import '2_base/body';
@import '2_base/typography';
@import '2_base/lists';
@import '2_base/tables';
@import '2_base/images';
@import '2_base/forms';

// 3 Blocks
@import '3_blocks/button';
@import '3_blocks/checkbox';
@import '3_blocks/select';
@import '3_blocks/icon';
@import '3_blocks/responsive-table';
