
@import 'variables';

@import '1_tools/functions';
@import '1_tools/mixins';
@import '1_tools/animations';

// colors

@function sg-text-color($color) {
  @if ($color) {
    @if (lightness($color) > 50) {
      @return #000000; // Lighter backgorund, return dark color
    } @else {
      @return #ffffff; // Darker background, return light color
    }
  }
}

@mixin sg-color($color) {
    .#{$color} {
        color: sg-text-color(color($color));
        background: color($color);
    }
    .#{$color}-lighten1 {
        color: sg-text-color(colorVariation($color, lighten, 1));
        background: colorVariation($color, lighten, 1);
    }
    .#{$color}-lighten2 {
        color: sg-text-color(colorVariation($color, lighten, 2));
        background: colorVariation($color, lighten, 2);
    }
    .#{$color}-lighten3 {
        color: sg-text-color(colorVariation($color, lighten, 3));
        background: colorVariation($color, lighten, 3);
    }
    .#{$color}-darken1 {
        color: sg-text-color(colorVariation($color, darken, 1));
        background: colorVariation($color, darken, 1);
    }
    .#{$color}-darken2 {
        color: sg-text-color(colorVariation($color, darken, 2));
        background: colorVariation($color, darken, 2);
    }
    .#{$color}-darken3 {
        color: sg-text-color(colorVariation($color, darken, 3));
        background: colorVariation($color, darken, 3);
    }
}

@include sg-color(primary);
@include sg-color(secondary);
@include sg-color(third);
@include sg-color(black);
@include sg-color(gray);

.sg-color {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    float: left;
    &__swatch {
        width: 100px;
        font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 600;
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
        width: 8rem;
        padding-top: 55px;
        height: 130px;
        border: 1px solid #eee;
        &--small {
          padding-top: 20px;
          height: 60px;
        }
    }
}
