
@import 'variables';

@import '1_tools/normalize';
@import '1_tools/functions';
@import '1_tools/mixins';
@import '1_tools/animations';

// colors

@mixin sg-color($color) {
    .#{$color} {
        @extend %swatch;
        background: color($color);
    }
    .#{$color}-lighten1 {
        @extend %swatch;
        background: colorVariation($color, lighten, 1);
    }
    .#{$color}-lighten2 {
        @extend %swatch;
        background: colorVariation($color, lighten, 2);
    }
    .#{$color}-lighten3 {
        @extend %swatch;
        background: colorVariation($color, lighten, 3);
    }
    .#{$color}-darken1 {
        @extend %swatch;
        background: colorVariation($color, darken, 1);
    }
    .#{$color}-darken2 {
        @extend %swatch;
        background: colorVariation($color, darken, 2);
    }
    .#{$color}-darken3 {
        @extend %swatch;
        background: colorVariation($color, darken, 3);
    }
}

@include sg-color(primary);
@include sg-color(secondary);
@include sg-color(third);
@include sg-color(black);
@include sg-color(gray);

.sg-color {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    float: left;
    &__swatch {
        width: 100px;
        font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 600;
        margin-bottom: 10px;
        float: left;
        width: 8rem;
    }
}

%swatch {
    padding-top: 38px;
    height: 100px;
}
