
@import 'variables';

@import '1_tools/normalize';
@import '1_tools/functions';
@import '1_tools/mixins';
@import '1_tools/animations';

// colors

.primary {
    @extend %swatch;
    background: color(primary);
}

.primary-lighten1 {
    @extend %swatch;
    background: colorVariation(primary, lighten, 1);
}

.primary-lighten2 {
    @extend %swatch;
    background: colorVariation(primary, lighten, 2);
}

.primary-lighten3 {
    @extend %swatch;
    background: colorVariation(primary, lighten, 3);
}

.primary-darken1 {
    @extend %swatch;
    background: colorVariation(primary, darken, 1);
}

.primary-darken1 {
    @extend %swatch;
    background: colorVariation(primary, darken, 1);
}

.primary-darken2 {
    @extend %swatch;
    background: colorVariation(primary, darken, 2);
}

.primary-darken3 {
    @extend %swatch;
    background: colorVariation(primary, darken, 3);
}



.sg-color {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    float: left;

    &__swatch {
        width: 100px;
        font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 600;
        margin-bottom: 10px;
        float: left;
    }
}

%swatch {
    padding-top: 38px;
    height: 100px;
}
